*{
  box-sizing: border-box;
  width: 100%;
  margin:0;
  text-decoration: none;
}

body{
    margin:0;
    margin-bottom: 40px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/*---header---*/
header{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 87px;
    width: 100%;
    background-color: #FAFAFA;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.logo{
    grid-column: 1/2;
    width: 164px;
    height: 52px;
    margin-top: 18px;
    margin-left: 12px;
}

.signin{
    float: right;
    grid-column: 2/3;
    margin-left: 120px;
    margin-top: 40px;
    color:#4A4A4A;
    font-size: 15px;
    }
/*---nav bar---*/

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    overflow: hidden;
    height: 54px;
    background-color: #FAFAFA;
    position: fixed;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 0px -4px 5px 0px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0px -4px 5px 0px rgba(57, 63, 72, 0.3);
    box-shadow: 0px -4px 5px 0px rgba(57, 63, 72, 0.3);

}

nav a {
     margin-top: 6px;


}



nav div{
    margin-top: -4px;
}

.events{
    height: 28px;
    width: 28px;
    grid-column: 1/2;
    grid-row: 1/2;
   }

.favorites{
    height: 28px;
    width: 28px;
    grid-column: 2/3;
    grid-row: 1/2;

}

.history{
    height: 31px;
    width: 34px;
    grid-column: 3/4;
    grid-row: 1/2;

}

.contact{
    height: 28px;
    width: 28px;
    grid-column: 4/5;
    grid-row: 1/2;

}

.textevents{
    font-size: 10px;
    color: #000000;
    grid-column: 1/2;
    grid-row: 2/3;


}

.textfavorites{
    font-size: 10px;
    color: #000000;
    grid-column: 2/3;
    grid-row: 2/3;

}

.texthistory{
    font-size: 10px;
    color: #000000;
    grid-column: 3/4;
    grid-row: 2/3;
}

.textcontact{
    font-size: 10px;
    color: #000000;
    grid-column: 4/5;
    grid-row: 2/3;
}

/*---button buy tickets---*/

.button1{
    width: 146px;
    height: 31px;
    border-width: 1.5px;
    border-radius: 3px;
    border-color: #D0021B;
    font-size: 13px;
    color: #D0021B;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 450;
    grid-column: 2/3;
    grid-row: 1/3;


}

/*---button interested---*/

.button2{
    display: flex;
    width: 94px;
    height: 24px;
    border-width: 1px;
    border-radius: 3px;
    border-color: #9B9B9B;
    grid-column: 3/-3;
    grid-row: 4/5;
    margin-left: 262px;
    margin-top: 12px;


}

.star{
  width: 17px;
  height: 17px;
  margin-left: -3px;
}

.interested{
    margin-top: 1px;
    margin-left: 4px;
    font-size: 12px;
    color: #9B9B9B;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;

}

/*---index page---*/

.rock{
    display: grid;
    grid-template-columns: 1fr;
    padding: 35px 22px 37px 22px;
    grid-gap: 1px;
    box-shadow: 0 8px 6px -6px grey;
}

.event {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;

}


.day{
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 12px;
    font-weight: 600;

}

.date{
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 19px;
  font-weight: 400;


}
/*---IMG---*/
.details{
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: 7px;
}

.groupname{
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 20px;
    font-weight: 400;
    color: #D0021B;
    margin-top: 12px;

}

/*--- details page---*/

.rock-details{
    display: grid;
    grid-template-columns: 1fr;
    padding: 35px 22px 37px 22px;
    grid-gap: 2px;
    box-shadow: 0 8px 6px -6px grey;
}

.grid1{
    display: grid;
    grid-template-columns: 250px 1fr;


}

.social{
    display: flex;
    text-align: right;
    flex-direction: row-reverse;


}

.facebook {
    width: 30px;
    height: 30px;


}

.tweeter{
    width: 30px;
    height: 30px;
    margin-left: 8px;
}

.groupname-details{
   grid-column: 1/2;
   font-size: 22px;
   font-weight: 400;
   color: #D0021B;

}

.importantinfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 5px;


}

.day-details{
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 12px;
    font-weight: 600;


}

.date-details{
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 19px;
  font-weight: 400;
}

.venue{
    font-size: 13px;
    font-weight: 500;
    color: #D0021B;
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 3px;
}

.onlineprice{
   grid-column: 2/3;
   grid-row: 2/3;
   font-size: 17px;
   font-weight: 600;
   margin-left: 15px;

}

.time{
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 3px;
}

.doorhour {
   font-size: 10px;
   font-weight: 400;
   grid-column: 1/2;
   margin-left: 15px;
}

.hour{
   font-size: 10px;
   font-weight: 400;
   grid-column: 2/3;

}

.image_info{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 15px;
    margin-top: 10px;

}

.imagedetails{
    grid-row: 1/2;

}

h2{
    grid-row: 2/3;
    font-size: 17px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin-top: 10px;
    box-shadow: 0 8px 6px -6px grey;
}

.artistdescription{
    grid-row: 3/4;
    font-size: 17px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.button1-details{
    grid-row:4/5;
    grid-column: 1/3;
    margin-left: 90px;
    margin-top: 10px;
    width: 146px;
    height: 31px;
    border-width: 1.5px;
    border-radius: 3px;
    border-color: #D0021B;
    font-size: 13px;
    color: #D0021B;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 450;

}

/*---contact page---*/

.contacts{
    display: grid;
    grid-template-columns: 1fr;
    padding: 35px 22px 37px 22px;
    grid-gap: 1px;
}

.gridcontact{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 10px 40px 2px 70px 15px 20px 20px 15px 40px 2px 40px 2px 40px;

}

.contactimage{
    grid-row: 1/2;
    grid-column: 1/2;
}

.contact{
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 24px;
    font-weight: 400;
}

.info{
   grid-row: 5/6;
   grid-column: 1/2;
   font-size: 13px;
   font-weight: 200;
}

.placename{
   grid-row: 7/8;
   grid-column: 1/2;
   font-size: 16px;
   font-weight: 700;
   color: #D0021B;
}

.address{
   grid-row: 8/9;
   grid-column: 1/2;

}
.postalcode{
   grid-row: 10/11;
   grid-column: 1/2;
}

.phone{
   grid-row: 12/13;
   grid-column: 1/2;
}


.mainemail{
   grid-row: 14/15;
   grid-column: 1/2;
   font-weight: 500;
   color: #D0021B;
}
